<ul>
  <li>{{ product.productName }}</li>
  <li>{{ product.plu }}</li>
  <li>{{ product.prodDesc }}</li>
  <li>{{ product.category }}</li>
  <li>{{ product.subcat }}</li>
  <li>{{ product.manufacturer }}</li>
  <li>{{ product.price }}</li>
  <li>{{ product.caseCount }}</li>
  <li>{{ product.caseDimensions }}</li>
  <li>{{ product.caseWeight }}</li>
  <li>{{ product.certs }}</li>
</ul>